{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>
<br>







<a href="{%url 'transaction_home'%}" class="btn btn-outline-info btn-sm mybuttons ml-2"><b style="font-size: small;">Home</b></a>

<a href="{%url 'repayments'%}" class="btn btn-outline-primary btn-sm mybuttons ml-2"><b style="font-size: small;">Return</b></a>

<a href="{%url 'disbursements'%}" class="btn btn-outline-primary btn-sm mybuttons ml-2"><b style="font-size: small;">Disbursements</b></a>
<a href="{%url 'income'%}" class="btn btn-outline-primary btn-sm mybuttons ml-2"><b style="font-size: small;">S.O.A</b></a>
<hr>
<form action="{%url 'transaction_search'%}" method="get" style="display: inline-block;" class="ml-2">

    <input type="text" name="q" placeholder="search by day" class="box">
    <b><input type="submit" name="" value="search"></b>

</form>


<hr>

<b style="color: black;">REPAYMENTS REPORTS</b>

<div class="table-responsive ">
    <table id="myTable" class="table table-sm  table-light table-bordered  table-hover styleTable">



        <thead class="table-light">
        <tr>
            <th scope="col">Due date</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Loan payable</th>
            <th scope="col">Amount due</th>
            <th scope="col">Balance</th>
            <th scope="col">Repayment period</th>
            <th scope="col">Repayment day</th>
            <th scope="col">Repay|edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                {%for transaction in object_list%}
                {%if transaction.repayment_condition%}
                <td><b>{{transaction.due_date|date:'j b,y'}}/{{transaction.due_day}}</b></td>
                <td><b>{{transaction.clients_name}} </b></td>
                <td><b>{{transaction.clients_phone}}</b></td>
                <td><b>{{transaction.loan_payable}}</b></td>
                <td><b>{{transaction.due_amount}} </b></td>
                <td><b>{{transaction.balance_due}} </b></td>
               <td><b> {{transaction.repayment_period}} </b></td>
                <td><b> {{transaction.repayment_day}} </b></td>
                <td><a href="{%url 'transaction_update' transaction.id%}"
                        class="btn btn-primary badge-pill btn-sm mybuttons ">Repay</a></td>
                <td><a href="{%url 'transaction_delete' transaction.id%}"
                        class="btn btn-outline-danger badge-pill btn-sm mybuttons ">Delete</a></td>
                  
            </tr>
        </tbody>
        {%endif%}
            {%endfor%}

    </table>
 
    {%if is_paginated%}

    {%if page_obj.has_previous%}

    <a href="?page=1" class="btn btn-outline-primary btn-sm badge-pill mb-4" style="font-size: small;">first </a>
    <a href="?page={{page_obj.previous_page_number}}"
        class="btn btn-outline-primary btn-sm badge-pill  mb-4" style="font-size: small;">previous</a>

    {%endif%}

    {%for num in page_obj.paginator.page_range%}

    {%if page_obj.number == num%}

    <a href="?page={{num}}" class="btn btn-outline-primary btn-sm badge-pill  mb-4" style="font-size: small;">{{num}}</a>
    {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a href="?page={{num}}"
        class="btn btn-outline-primary btn-sm badge-pill mb-4" style="font-size: small;">{{num}}</a>

        {%endif%}
        {%endfor%}

        {%if page_obj.has_next%}

        <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary btn-sm badge-pill mb-4" style="font-size: small;">next</a>
        <a href="?page={{page_obj.paginator.num_pages}}"
            class="btn btn-outline-primary btn-sm badge-pill mb-4" style="font-size: small;">last</a>

        {%endif%}

        {%endif%}

</div>

<br>
<button  class="btn btn-outline-success btn-sm ml-1" onclick="exportDataToExcel('myTable')"><b style="font-size: small;">Export to excel</b></button>
<hr>

<script type="text/javascript">



    function exportDataToExcel(tableId, filename = "repayments") {
      var downloadLink;
      var dataType = 'application/vnd.ms-excel';
      var tableSelect = document.getElementById(tableId)
      var tableHtml = tableSelect.outerHTML.replace(/ /g, '%20');
      //specify file name
      filename = filename ? filename + ".xls" : "excel_data.xls";
  
      downloadLink = document.createElement('a');
  
      if (navigator.msSaveOrOpenBlob) {
        var blob = new Blob(['\ufeff', tableHtml], {
          type: datatype
  
        });
        navigator.msSaveOrOpenBlob(blob, filename)
  
      } else {
        downloadLink.href = 'data:' + dataType + ',' + tableHtml;
        downloadLink.download = filename
        downloadLink.click()
      }
  
    }
  
  
  </script>

{%endblock%}