{%extends 'index.html'%}

{%block content%}

<br>
<br>
<br>
<br>

<a href="{%url 'transaction_home'%}" class="btn btn-outline-info btn-sm mybuttons ml-2"><b style="font-size: small;">Home</b></a>
<a href="{%url 'income'%}" class="btn btn-outline-primary btn-sm mybuttons ml-2"><b style="font-size: small;">Statement</b></a>
<a href="{%url 'report_create'%}" class="btn btn-outline-primary btn-sm mybuttons ml-2"><b style="font-size: small;">Add report</b></a>
<hr>
<b style="color: black;">MONTHLY REPORTS</b>

<div class="table-responsive ">
    <table id="reports" class="table table-sm  table-light table-bordered  table-hover styleTable">



        <thead class="table-light">
        <tr>
            <th scope="col">Month</th>
            <th scope="col">Payable loans</th>
            <th scope="col">Loans given</th>
            <th scope="col">Loan repayments</th>
            <th scope="col">Unrealized interest</th>
            <th scope="col">Bad debts</th>
            <th scope="col">Realized interest</th>
            <th scope="col">Office expenses</th>
            <th scope="col">Salary expenses</th>
            <th scope="col">Income/loss</th>
            <th scope="col">Added by</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>

        </tr>
        </thead>
        <tbody>
            <tr>
                {%for report in reports%}
             
                <td><b>{{report.month}}</b></td>
                <td><b>{{report.total_payable_loans}} </b></td>
                <td><b>{{report.total_loans_given}}</b></td>
                <td><b>{{report.loan_repayments}} </b></td>
                <td><b>{{report.unrealized_interest_income}}</b></td>
                <td><b>{{report.bad_debts}} </b></td>
                <td><b>{{report.realized_interest}} </b></td>
                <td><b>{{report.office_expenses}} </b></td>
                <td><b> {{report.salary_expenses}} </b></td>
                <td><b>  </b></td>
                <td><b> {{report.author}} </b></td>
                <td><a href="{%url 'report_update' report.id%}"
                        class="btn btn-primary badge-pill btn-sm mybuttons ">Repay</a></td>
                <td><a href="{%url 'report_delete' report.id%}"
                        class="btn btn-outline-danger badge-pill btn-sm mybuttons ">Delete</a></td>
                  
            </tr>
        </tbody>
      
            {%endfor%}

    </table>
    <button  class="btn btn-outline-success btn-sm ml-1" onclick="exportDataToExcel('reports')"><b style="font-size: small;">Export to excel</b></button>
    
    {%if is_paginated%}

    {%if page_obj.has_previous%}

    <a href="?page=1" class="btn btn-outline-primary btn-small badge-pill mb-4">first </a>
    <a href="?page={{page_obj.previous_page_number}}"
        class="btn btn-outline-primary btn-small badge-pill  mb-4">previous</a>

    {%endif%}

    {%for num in page_obj.paginator.page_range%}

    {%if page_obj.number == num%}

    <a href="?page={{num}}" class="btn btn-outline-primary btn-small badge-pill  mb-4">{{num}}</a>
    {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <a href="?page={{num}}"
        class="btn btn-outline-primary btn-small badge-pill mb-4">{{num}}</a>

        {%endif%}
        {%endfor%}

        {%if page_obj.has_next%}

        <a href="?page={{page_obj.next_page_number}}" class="btn btn-outline-primary btn-small badge-pill mb-4">next</a>
        <a href="?page={{page_obj.paginator.num_pages}}"
            class="btn btn-outline-primary btn-small badge-pill mb-4">last</a>

        {%endif%}

        {%endif%}
</div>

<br>

<hr>

<script type="text/javascript">



    function exportDataToExcel(tableId, filename = "reports") {
      var downloadLink;
      var dataType = 'application/vnd.ms-excel';
      var tableSelect = document.getElementById(tableId)
      var tableHtml = tableSelect.outerHTML.replace(/ /g, '%20');
      //specify file name
      filename = filename ? filename + ".xls" : "excel_data.xls";
  
      downloadLink = document.createElement('a');
  
      if (navigator.msSaveOrOpenBlob) {
        var blob = new Blob(['\ufeff', tableHtml], {
          type: datatype
  
        });
        navigator.msSaveOrOpenBlob(blob, filename)
  
      } else {
        downloadLink.href = 'data:' + dataType + ',' + tableHtml;
        downloadLink.download = filename
        downloadLink.click()
      }
  
    }
  
  
  </script>

{%endblock%}