{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}

<br>
<br>
<br>
<br>
<div class="parent-div">
    <div class="card" >
      <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
        <b>PERFORM TRANSACTION</b>
      </div>

      <div class="card-body">

        <form method="POST">
          {%csrf_token%}
          <fieldset class="form-group">


            {{form|crispy}}
          </fieldset>
          <div>
            <button class="btn btn-outline-primary btn-block mybuttons " type="submit">Submit loan/repayment/expense</button> <br>
            <a href="{%url 'transaction_home'%}" class="btn btn-outline-primary  btn-block mybuttons">Cancel</a> <br>
            
            <a href="{%url 'transaction_create'%}" class="btn btn-primary btn-block mybuttons ">Lend </a> <br>
            <b style="color: grey;">INTEREST RATES</b><br>
            <b style="color: grey;">a. 15% = 0.15</b> <br>
            <b style="color: grey;">b. 7.5% = 0.075</b> <br>
            <b style="color: grey;">c. 5% = 0.05</b> <br>
            
          </div>
        </form>

      </div>
    </div>
</div>

<hr>

{%for transaction in transactions|slice:":1"%}

<div class="parent-div">

  <div class="card"  >
      <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
        <b style="float: left;">QUICKSOLVE REPORTS</b>
        
      </div>

      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Total payable loans </b> <b
        style="float: right; color:grey;">{{transaction.loans_payable}} </b></li>
    
      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Total repaid loans </b> <b
        style="float: right; color:grey;">{{transaction.total_repayed_amount}}</b></li>  
     
      
      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Total loans given </b> <b
        style="float: right; color:grey;">{{transaction.total_borrowed_amount}} </b></li>
      
      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Operating cash </b> <b
          style="float: right; color:grey;">{{transaction.operating_cash}} </b></li>
        
       

    
        
    <li class="list-group-item"> <b style="float: left; color: #00539cff;">Active clients </b> <b
          style="float: right; color:grey;">{{transaction.total_clients}}</b></li>
          
    
    
    <li class="list-group-item"> <b style="float: left; color: #00539cff;">Date today</b> <b
        style="float: right; color:grey;">{{transaction.the_date_today|date:'j b,y'}}</b></li>
        
        <li class="list-group-item">
          <a href="{%url 'disbursements'%}" class="btn btn-info btn-block mybuttons ">View disburments</a>
        </li>

      <li class="list-group-item">
          <a href="{%url 'repayments'%}" class="btn btn-primary btn-block mybuttons ">View repayments</a>
      </li>

      <li class="list-group-item">
        <a href="{%url 'income'%}" class="btn btn-secondary btn-block mybuttons ">Income statement</a>
    </li>
        
      <li class="list-group-item">
          <a href="{%url 'admin'%}" class="btn btn-outline-info btn-block mybuttons ">Admin</a>
      </li>
 

    </div>
</div>
{%endfor%}



<hr>

{%endblock%}







