{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}

<br>
<br>
<br>
<br>
<div class="parent-div">
    <div class="card" >
      <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
        <b>PERFORM A TRANSACTION</b>
      </div>

      <div class="card-body">

        <form method="POST">
          {%csrf_token%}
          <fieldset class="form-group">


            {{form|crispy}}
          </fieldset>
          <div>
            <button class="btn btn-outline-primary btn-block mybuttons " type="submit"><b>Submit loan/repayment/expense</b></button> <br>
            <a href="{%url 'repayments'%}" class="btn btn-outline-primary  btn-block mybuttons"><b>Cancel</b></a> <br>
            
            <a href="{%url 'transaction_create'%}" class="btn btn-primary btn-block mybuttons ">Transact</a> <br>
            <b style="color: grey;">INTEREST RATES</b><br>
            <b style="color: grey;">a. 15% = 0.15</b> <br>
            <b style="color: grey;">b. 7.5% = 0.075</b> <br>
            <b style="color: grey;">c. 5% = 0.05</b> <br>
            <b style="color: grey;">S.O.A = statement of affairs</b> <br>
            
          </div>
        </form>

      </div>
    </div>
</div>

<hr>

{%for transaction in transactions|slice:":1"%}

<div class="parent-div">

  <div class="card"  >
      <div class="card-header" style="background-color: #0e4D92; color: #F5F5DC;">
        <b style="float: left;">QUICKSOLVE REPORTS</b>
        
      </div>

      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Total payable loans </b> <b
        style="float: right; color:grey;">{{transaction.total_loans_payable}} </b></li>
    
      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Total repaid loans </b> <b
        style="float: right; color:grey;">{{transaction.total_repayed_amount}}</b></li>  
     
      
      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Total loans given </b> <b
        style="float: right; color:grey;">{{transaction.total_borrowed_amount}} </b></li>

        <li class="list-group-item"> <b style="float: left; color: #00539cff;">Uncleared loans </b> <b
          style="float: right; color:grey;">{{transaction.uncleared_loans}} </b></li>
      
      <li class="list-group-item"> <b style="float: left; color: #00539cff;">Repayment turnover </b> <b
          style="float: right; color:grey;">{{transaction.operating_cash}} </b></li>
        
       

    
        
    <li class="list-group-item"> <b style="float: left; color: #00539cff;">Active clients </b> <b
          style="float: right; color:grey;">{{transaction.total_clients}}</b></li>
          
    
    
    <li class="list-group-item"> <b style="float: left; color: #00539cff;">Date today</b> <b
        style="float: right; color:grey;">{{transaction.the_date_today|date:'j b,y'}}</b></li>
        
        <li class="list-group-item">
          <a href="{%url 'disbursements'%}" class="btn btn-outline-info btn-block mybuttons "><b>View disburments</b></a>
        </li>

      <li class="list-group-item">
          <a href="{%url 'repayments'%}" class="btn btn-outline-primary btn-block mybuttons "><b>View repayments</b></a>
      </li>
      
      <li class="list-group-item">
        <a href="{%url 'expense'%}" class="btn btn-outline-success btn-block mybuttons "><b>View expenses</b></a>
    </li>

      <li class="list-group-item">
        <a href="{%url 'income'%}" class="btn btn-outline-secondary btn-block mybuttons "><b>Statement of affairs</b></a>
    </li>
        
    <li class="list-group-item">
      <a href="{%url 'report'%}" class="btn btn-outline-dark btn-block mybuttons "><b>Monthly reports</b></a>
  </li>
      

      <li class="list-group-item">
          <a href="{%url 'user'%}" class="btn btn-outline-info btn-block mybuttons "><b>Admin</b></a>
      </li>
 

    </div>
</div>
{%endfor%}



<hr>

{%endblock%}







