{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}
<br>
<br>
<br>
<br>


    <div class="parent-div">
        <div class="card">
            <div class="card-header" style=" background-color: #0e4D92; color: #F5F5DC;">
                <b>Change password</b>
            </div>
            
            <div class="card-body">
                
                <form method="POST">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        

                        {{form|crispy}}
                    </fieldset>
                    <div>
                        <button class="btn btn-primary btn-block mybuttons" type="submit">Change password
                            
                        </button>
                        <hr>
                        <a href="{%url 'transaction_home'%}" class="btn btn-outline-primary btn-block mybuttons ml-2"><b style="font-size: small;">Cancel</b></a>

                    </div>
                </form>
                    
                   
            </div>

        </div>
    </div> 

    
    
<br>
<br>
<br>
<hr>
{%endblock content%}


       


    


