{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}
<br>
<br>
<br>
<br>
<div class="parent-div"><h4>Managing defaulters simplified.</h4></div>
<hr>
    <div class="parent-div">
        <div class="card" >
            <div class="card-header" style=" background-color: #0e4D92; color: #F5F5DC;">
                <b>Login </b>
            </div>
            
            <div class="card-body">
                
                <form method="POST">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        

                        {{form|crispy}}
                    </fieldset>
                    <div>
                        <button class="btn btn-primary btn-block mybuttons" type="submit">Login to enlister</button>
            

                    </div>
                </form>
                    
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Need an account? <a class="ml-2" href="{%url 'signup'%}">Sign up now</a>

                        </small>

                    </div>
            </div>

        </div>
    </div> 

    
    
<br>
<br>
<br>
<hr>
{%endblock content%}


       


    


