{%extends 'index.html'%}

{%block content%}
<br>
<br>
 <br>
 <br>
 <div class="parent-div">
    <div class="card" style="width: 22rem;">
        <div class="card-header">
            <H2>Password reset successfuly</H2>
        </div>       
                <div class="card-body">
                    <small class="text-muted">
                        <a class="btn btn-outline-primary btn-sm" href="{%url 'login'%}">Login</a>

                    </small>

                </div>
        </div>     
    </div>
</div>       
{%endblock content%}