{%extends 'index.html'%}
{%load crispy_forms_tags%}

{%block content%}
<br>
<br>
<br>
<br>

<hr>
    <div class="parent-div">
        <div class="card" >
            <div class="card-header" style=" background-color: #0e4D92; color: #F5F5DC;">
                <b>Request email link</b>
            </div>
            
            <div class="card-body">
                
                <form method="POST">
                    {%csrf_token%}
                    <fieldset class="form-group">
                        
                    <input name="email" class="form-control" placeholder="Email address"
                    type="email" id="id_email" required="true">
                    

                        
                    </fieldset>
                    <div>
                        <button class="btn btn-primary btn-block mybuttons" type="submit">Request password reset</button>
            

                    </div>
                </form>
                    
                    
            </div>

        </div>
    </div> 

    
    
<br>
<br>
<br>
<hr>
{%endblock content%}


       
